.header {
  color: rgb(5, 128, 145);
  font-size: 60px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  border: 4px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 255, 255);
}
.menu {
  font-size: 20px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}
h2 {
  color: rgb(8, 139, 63);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
}
.footer {
  text-align: center;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(5, 18, 24);
  background-color: rgb(0, 255, 255);
  font-size: 11px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.content {
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(19, 42, 168);
}
.content2 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(2, 100, 43);
}
.last {
  font-size: 12px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(2, 56, 100);
}
